
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: space-evenly;
  row-gap: 20px;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
}
