.popup {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  padding-right: 19px;
  padding-left: 19px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s;
  pointer-events: none;
}
