
.popup__close-button {
  position: absolute;
  top: -36px;
  right: 0;
  width:20px;
  height: 20px;
  background-image: url("../../../images/close-icon.svg");
  background-size: cover;
  border: none;
}
@media screen and (min-width: 715px) {
  .popup__close-button{
    top: -36px;
    right: -36px;
    width: 32px;
    height: 32px;
  }
}
