
.profile__edit-icon {
  width: 8px;
  height: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 719px) {
  .profile__edit-icon {
    width: 10px;
    height: 10px;
  }
}
