
.input {
  height: 27px;
  font-size: 0.875rem;
  line-height: 17px;
  color: #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
