
.profile__new-card-button {
  border-radius: 2px;
  width: min(320px, 100%);
  height: 50px;
}
@media screen and (min-width: 719px) {
  .profile__new-card-button {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: add;
    justify-self: end;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
