
.footer {
  padding-bottom: 36px;
  padding-left: 19px;
  padding-right: 19px;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
