
.profile__occupation {
  margin: 0;
  padding: 0 0 36px 0;
  font-size: 0.875rem;
  line-height: 17px;
  font-weight: 400;
  max-width: 280px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 719px) {
  .profile__occupation {
    padding-bottom: 0px;
    max-width: 460px;
  }
}
