
.button {
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
}

.button:hover {
  opacity: 0.6;
}
.button:disabled {
  border: 1px solid#C4C4C4;
  color: #c4c4c4;
  background-color: white;
}
.button:disabled:hover{
  opacity: 1;
}